---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout title="Contributor License Agreement">
    <div class="h-[60vh] container min-h-[450px] flex flex-col items-center justify-center">
        <h2 class="text-[48px] font-bold">Contributor License Agreement</h2>
        <p class="text-[28px]">Thank you for being part of the HashiCorp Open Source Community!</p>
        <div class="buttons mt-10 flex gap-2">
            <Button>View the Agreement</Button>
            <Button variant="outline">What is this?</Button>
        </div>
    </div>
    <div class="bg-black/10 py-20">
        <div class="container">
            <h2 class="text-[24px] font-bold mb-2">What is a CLA?</h2>
            <div class="flex gap-10 mb-5">
                <div class="w-1/2">
                    Agreeing to a CLA explicitly states that you are entitled to provide a
                    contribution, that you cannot withdraw permission to use your contribution at a
                    later date, and that HashiCorp has permission to use your contribution in our
                    commercial products. This removes any ambiguities or uncertainties and allows
                    users and customers to confidently adopt our projects. The CLA ensures that all
                    contributions to our open source projects are licensed under the project's
                    respective open source license, such as MPL2.
                </div>
                <div class="w-1/2">
                    Requiring a CLA is a common and well-accepted practice in open source. Major
                    open source projects require CLAs such as Apache Software Foundation projects,
                    Facebook projects (such as React), Google projects (including Go), Python,
                    Django, and more. Each of these projects remains licensed under permissive OSS
                    licenses such as MIT, Apache, BSD, and more.
                </div>
            </div>
            <div class="flex gap-10">
                <div class="w-1/2">
                    <h2 class="text-[24px] font-bold mb-2">How do I sign the agreement?</h2>
                     When you open a pull request ("PR") to any of our open source projects to sign
                    the CLA. A bot will comment on the PR with a link to sign the CLA if you haven't
                    already. This will require you to log in with GitHub and to fill in a few
                    additional details such as your name and email address.
                </div>
                <div class="w-1/2">
                    <h2 class="text-[24px] font-bold mb-2">Do I need to sign for every project?</h2>
                     You only have to sign the CLA once. Once you've signed the CLA, future
                    contributions to any HashiCorp project will be protected under the agreement and
                    will not require you to sign again.
                </div>
            </div>
        </div>
    </div>
</Layout>
